{% extends 'lab_4/base.html' %}
{% load static %}

{% block title %}Add Schedule{% endblock %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-fluid secondary-background-color horizontal-ruler">
    <div class="text-center">
        <div class="title">
            <h1>Add Schedule</h1>
        </div>
    </div>
</div>

<div class="container-fluid horizontal-ruler">
    <div class="text-container">
        <form action="{% url 'process-schedule' %}" method="post">
            {% csrf_token %}
            {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
            <div class="form-group">
                <label for="input-date">Tanggal</label>
                <input type="date" class="form-control" id="input-date" name="date">
            </div>
            <div class="form-group">
                <label for="input-time">Jam</label>
                <input type="time" class="form-control" id="input-time" name="time">
            </div>
            <div class="form-group">
                <label for="input-activity-name">Nama Kegiatan</label>
                <input type="text" class="form-control" id="input-activity-name" name="activity-name">
            </div>
            <div class="form-group">
                <label for="input-place">Tempat</label>
                <input type="text" class="form-control" id="input-place" name="place">
            </div>
            <div class="form-group">
                <label for="input-category">Kategori</label>
                <input type="text" class="form-control" id="input-category" name="category">
            </div>
            <button type="submit" class="btn" value="Add">Tambahkan</button>
        </form>
    </div>
</div>

{% include 'lab_4/footer.html' %}
{% endblock %}
