{% extends 'lab_4/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-fluid secondary-background-color horizontal-ruler">
    <div class="text-center">
        <div class="title">
            <h1>Contact</h1>
        </div>
    </div>
</div>

<div class="container-fluid horizontal-ruler">
    <div class="text-container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <a href="mailto:cx0@programmer.net"><h2><img src="{% static 'img/social-media-1.png' %}" class="social-media-icon" />Email</h2></a>
            </div>
            <div class="col-sm-6 text-center"></div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center"></div>
            <div class="col-sm-6 text-center">
                <div>
                    <a href="#" data-toggle="tooltip" title="Maaf saya tidak punya LinkedIn :') Ini hanya contoh..."><h2>LinkedIn<img src="{% static 'img/social-media-2.png' %}" class="social-media-icon" /></h2></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <a href="#" data-toggle="tooltip" title="Maaf saya tidak punya Twitter :') Ini hanya contoh..."><h2><img src="{% static 'img/social-media-3.png' %}" class="social-media-icon" />Twitter</h2></a>
            </div>
            <div class="col-sm-6 text-center"></div>
        </div>
    </div>
</div>

{% include 'lab_4/footer.html' %}

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>
{% endblock %}
