{% extends 'lab_4/base.html' %}
{% load static %}

{% block title %}Guest Book{% endblock %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-fluid secondary-background-color horizontal-ruler">
    <div class="text-center">
        <div class="title">
            <h1>Guest Book</h1>
        </div>
    </div>
</div>

<div class="container-fluid horizontal-ruler">
    <div class="text-container">
        <form>
            <div class="form-group">
                <label for="input-name">Nama</label>
                <input type="text" class="form-control" id="input-name">
            </div>
            <div class="form-group">
                <label for="input-date">Tanggal</label>
                <input type="date" class="form-control" id="input-date">
            </div>
            <div class="form-group">
                <label for="input-email">Email</label>
                <input type="email" class="form-control" id="input-email">
            </div>
            <div class="form-group">
                <label for="input-subject">Subjek</label>
                <input type="text" class="form-control" id="input-subject">
            </div>
            <div class="form-group">
                <label for="input-message">Pesan</label>
                <textarea class="form-control" id="input-message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>

{% include 'lab_4/footer.html' %}
{% endblock %}
