{% extends 'lab_4/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-fluid secondary-background-color horizontal-ruler">
    <div class="text-center">
        <img src="{% static 'img/picture.jpg' %}" id="self-picture" class="rounded-circle" alt="Picture of me">
        <h1>William Gates</h1>
        <p>Mahasiswa Universitas Indonesia<br />Jurusan Ilmu Komputer</p>
    </div>
</div>

<div class="container-fluid horizontal-ruler">
    <div class="row text-container">
        <div class="col-sm-8">
            <h2>About Me</h2>
            <p>Nama saya adalah William Gates. Saya lahir di Rantauprapat di Rantuprapat pada tanggal 31 Juli 1999. Saya adalah seorang web developer yang suka programming dan membaca buku.</p>
        </div>
        <div class="col-sm-4">
            <h2>Contact</h2>
            <a href="mailto:cx0@programmer.net"><h3><img src="{% static 'img/social-media-1.png' %}" class="home-social-media-icon" />Email</h3></a>
            <a href="#" data-toggle="tooltip" title="Maaf saya tidak punya LinkedIn :') Ini hanya contoh..."><h3><img src="{% static 'img/social-media-2.png' %}" class="home-social-media-icon" />LinkedIn</h3></a>
            <a href="#" data-toggle="tooltip" title="Maaf saya tidak punya Twitter :') Ini hanya contoh..."><h3><img src="{% static 'img/social-media-3.png' %}" class="home-social-media-icon" />Twitter</h3></a>
        </div>
    </div>
</div>

{% include 'lab_4/footer.html' %}

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>
{% endblock %}
