<nav class="navbar navbar-expand-lg navbar-light horizontal-ruler">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar-supported-content">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add-schedule' %}">Add<br />Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'schedule-list' %}">Schedule<br />List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'guest-book' %}">Guest<br />Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'track-record' %}">Track<br />Record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>
