{% extends 'lab_4/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-fluid secondary-background-color horizontal-ruler">
    <div class="text-center">
        <div class="title">
            <h1>Projects</h1>
        </div>
    </div>
</div>

<div class="container-fluid horizontal-ruler">
    <div class="text-container">
        <h2>Dev Post (2018)</h2>
        <div class="row">
            <div class="col-sm-2">
                <img src="{% static 'img/project-1.png' %}" class="project-icon">
            </div>
            <div class="col-sm-1"></div>
            <div class="col">
                <p>Dev Post adalah platform yang membantu insinyur perangkat lunak berpartisipasi dalam kompetisi perangkat lunak.</p>
            </div>
        </div>
        <br />
        <h2>Matts (2017)</h2>
        <div class="row">
            <div class="col">
                <p>Matss menerjemahkan file teks biasa dari dan ke salah satu dari 60+ bahasa yang didukung oleh layanan web Matts.</p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <img src="{% static 'img/project-2.png' %}" class="project-icon">
            </div>
        </div>
        <br />
        <h2>Connect Develop (2016)</h2>
        <div class="row">
            <div class="col-sm-2">
                <img src="{% static 'img/project-3.png' %}" class="project-icon">
            </div>
            <div class="col-sm-1"></div>
            <div class="col">
                <p>Connect Develop adalah perangkat lunak open source untuk komputasi numerik menggunakan grafik aliran data.</p>
            </div>
        </div>
    </div>
</div>

{% include 'lab_4/footer.html' %}
{% endblock %}
