{% extends 'lab_4/base.html' %}
{% load static %}

{% block title %}Track Record{% endblock %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-fluid secondary-background-color horizontal-ruler">
    <div class="text-center">
        <div class="title">
            <h1>Schedule List</h1>
        </div>
    </div>
</div>

<div class="container-fluid horizontal-ruler">
    <div class="text-container">
        {% if schedules %}
            {% for schedule in schedules %}
                <h2>{{ schedule.activity_name }}</h2>
                <table class="tab">
                    <tr>
                        <td><p>Hari</p></td>
                        <td><p>&nbsp;:&nbsp;</p></td>
                        <td><p>{{ schedule.day }}</p></td>
                    </tr>
                    <tr>
                        <td><p>Tanggal</p></td>
                        <td><p>&nbsp;:&nbsp;</p></td>
                        <td><p>{{ schedule.date|date:'d/m/Y' }}</p></td>
                    </tr>
                    <tr>
                        <td><p>Waktu</p></td>
                        <td><p>&nbsp;:&nbsp;</p></td>
                        <td><p>{{ schedule.time|time:'H:i' }}</p></td>
                    </tr>
                    <tr>
                        <td><p>Tempat</p></td>
                        <td><p>&nbsp;:&nbsp;</p></td>
                        <td><p>{{ schedule.place }}</p></td>
                    </tr>
                    <tr>
                        <td><p>Kategori</p></td>
                        <td><p>&nbsp;:&nbsp;</p></td>
                        <td><p>{{ schedule.category }}</p></td>
                    </tr>
                </table>
                <br />
            {% endfor %}
        {% endif %}

        <form action="{% url 'delete-all-schedule' %}" method="post">
            {% csrf_token %}
            {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
            {% if schedules %}
                <button type="submit" class="btn" name="command" value="Delete">Hapus semua</button>
            {% endif %}
        </form>
    </div>
</div>

{% include 'lab_4/footer.html' %}
{% endblock %}
