{% extends 'lab_4/base.html' %}
{% load static %}

{% block title %}Track Record{% endblock %}

{% block content %}
{% include 'lab_4/navbar.html' %}

<div class="container-fluid secondary-background-color horizontal-ruler">
    <div class="text-center">
        <div class="title">
            <h1>Track Record</h1>
        </div>
    </div>
</div>

<div class="container-fluid horizontal-ruler">
    <div class="text-container">
        <h2>Pendidikan</h2>
        <p class="tab">(2017 - sekarang) Pendidikan Jenjang Sarjana<br /><span class="tab">Universitas Indonesia</span></p>
        <br />
        <h2>Organisasi</h2>
        <p class="tab">(Januari 2018 - sekarang) KMBUI<br /><span class="tab">Staf Departemen Website</span></p>
        <p class="tab">(Februari 2018 - sekarang) BEM Fasilkom UI<br /><span class="tab">Staf Biro Pengembangan Teknologi Informasi</span></p>
        <p class="tab">(Maret 2018 - sekarang) Ristek Fasilkom UI<br /><span class="tab">Junior member SIG Embedded System</span></p>
        <br />
        <h2>Prestasi</h2>
        <p class="tab">(2015) OSN Tingkat Kabupaten<br /><span class="tab">Peringkat 1 bidang Informatika/Komputer</span></p>
        <p class="tab">(2015) FLS2N Tingkat Kabupaten<br /><span class="tab">Peringkat 1 bidang Desain Poster</span></p>
        <p class="tab">(2016) OSN Tingkat Kabupaten<br /><span class="tab">Peringkat 1 bidang Informatika/Komputer</span></p>
    </div>
</div>

{% include 'lab_4/footer.html' %}
{% endblock %}
