body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    color: rgb(255, 165, 82);
    font-weight: bold;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    color: rgb(167, 167, 167);
    font-size: 1.5rem;
    line-height: 2rem;
}

button, label, #input-name, #input-date, #input-email, #input-subject, #input-message {
    color: rgb(255, 165, 82);
    font-size: 1rem;
}

.form-control {
    background-color: rgb(255, 253, 248);
    border-color: rgb(255, 165, 82);
}

footer {
    margin: 1rem;
}

.navbar {
    background-color: rgb(255, 250, 232);
    font-weight: bold;
    padding: 0rem;
    text-align: center;
}

.navbar-brand {
    border-style: solid;
    border-width: 3px 3px 0 3px;
    padding: 2rem;
}

.navbar .navbar-brand {
    color: rgb(255, 165, 82);
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: rgb(255, 165, 82);
}

.navbar .navbar-nav .nav-link {
    color: rgb(255, 165, 82);
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
    color: rgb(255, 200, 0);
}

.navbar .navbar-nav .show > .nav-link,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .nav-link.active {
    color: rgb(255, 100, 0);
}

.nav-item {
    margin: auto 1.5rem auto 1.5rem;
}

.navbar-toggler {
    background-color: rgb(255, 240, 200);
    margin-right: 1rem;
} 

a:hover {
    color: rgb(255, 165, 82);
}

.tooltip-inner {
    background-color: rgb(255, 253, 248);
    border: 3px solid rgb(255, 165, 82);
    color: rgb(255, 165, 82);
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: rgb(255, 165, 82);
}

.btn {
    background-color: rgb(255, 253, 248);
    border-color: rgb(255, 165, 82);
}

.btn:hover, .btn:focus {
    background-color: rgb(255, 165, 82);
    color: rgb(255, 255, 255);
}

.background-color {
    background-color: rgb(255, 250, 232);
}

.home-social-media-icon {
    height: 2rem;
    margin: 0.2rem 1rem 0.2rem auto;
    width: 2rem;
}

.horizontal-ruler {
    border-bottom: 3px solid;
    border-color: rgb(255, 165, 82);
    width: 100%;
}

.project-icon {
    height: 5rem;
    margin: auto -0.1rem auto -0.1rem;
    width: 5rem;
}

.secondary-background-color {
    background-color: rgb(255, 253, 248);
}

.social-media-icon {
    height: 5rem;
    margin: 1rem;
    width: 5rem;
}

.tab {
    margin-left: 4rem;
}

.text-container {
    margin: auto;
    max-width: 70%;
    padding: 30px;
}

.title {
    padding: 20px;
}

#self-picture {
    border-color: rgb(255, 165, 82);
    border-style: solid;
    border-width: 0.2rem;
    height: 12rem;
    margin: 2rem auto 1rem auto;
    width: 12rem;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 1rem;
    }

    .tab {
        margin-left: 2rem;
    }

    .social-media-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
}
