body {
    background: #000000;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    outline: 0;
    padding: 0;
}

h1 {
    font-family: Tahoma;
    font-size: 3em;
    font-weight: bold;
    margin: 30px 30px 30px 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Courier;
    font-size: 3em;
    font-weight: bold;
    height: 100px;
    margin: 30px 0px 30px 0px;
    text-transform: uppercase;
}

p {
    color: #cccccc;
    font-family: Arial;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 50px 0px 30px 0px;
}

.container {
    margin: auto;
    max-width: 600px;
    padding: 30px 30px 30px 30px;
}

#about {
    padding: 30px 0px 30px 0px;
}

#bg-text {
    bottom: 0;
    color: #cccccc;
    font-size: 20vw;
    left: 1;
    margin-top: 30px;
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#picture {
    border-radius: 100px;
    display: block;
    float: left;
    height: 100px;
    margin: 30px 30px 30px 10px;
    width: 100px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 2em;
        height: 50px;
    }

    p {
        margin: 50px 0px 0px 0px;
    }

    #picture {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1200px;
    }
}
